.button {
  border: none;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: var(--button-shadow);

  height: 4rem;
  font-size: 2rem;

  cursor: pointer;
  transition: all 0.2s ease-out;
}

@media (hover: hover) {
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    filter: brightness(0.98);
  }

  .button:active {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    filter: brightness(0.96);
  }
}

.button-operand {
  background-color: #E6DCCB;
}

.button-operator {
  background-color: #CAD7E6;
  color: rgba(255, 255, 255, 0.753);
}

.button-equal {
  background-color: #688099;
  color: rgba(255, 255, 255, 0.753);
}

.button-clear {
  background-color: #CAD7E6;
  color: rgba(255, 255, 255, 0.753);
}

.button-span-2 {
  grid-column: span 2;
}