.button {
  /* Layout */
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;

  /* Text */
  font-size: 2rem;

  /* Apperance */
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  cursor: pointer;
  border: none;

  /* Animation */
  transition: all 0.2s ease-out;

  /* Other */
  border-radius: 3px;
  user-select: none;
}

@media (hover: hover) {
  .button:hover {
    box-shadow: var(--button-shadow-hover);
    filter: brightness(0.98);
  }

  .button:active {
    box-shadow: var(--button-shadow-active);
    filter: brightness(0.96);
  }
}

.button-operand {
  background-color: var(--button-operand-bg);
  color: var(--button-color);

}

.button-operator {
  background-color: var(--button-operator-bg);
  color: var(--button-color);
}

.button-equal {
  background-color: var(--button-equal-bg);
  color: var(--button-color);
}

.button-clear {
  background-color: var(--button-clear-bg);
  color: var(--button-color);
}

.button-span-2 {
  grid-column: span 2;
}